@font-face {
    font-family: 'Chakra Petch';
    src: url('ChakraPetch-Bold.woff2') format('woff2'),
        url('ChakraPetch-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('Exo-Light.woff2') format('woff2'),
        url('Exo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('Exo-Regular.woff2') format('woff2'),
        url('Exo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('Exo-Bold.woff2') format('woff2'),
        url('Exo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

